.NavBar{
    margin-top: 25px;
    padding-top: 10px;
}
.colorOrange{
    color: #BD8F2C;
}
.bcOrange{
    background-color:rgb(1, 1, 49);
}
.navLinks{
   

    height: 5vh;
}
.LinksList{
   
 
 height: 100%;

}
.topNav{
    padding-bottom: 20px;
}
.link{
    margin-right: 60px;
    font-weight: 400;
    text-decoration: none;
    color: white;
display: block;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.displayPhone{
    display: none;
}
.floatRight{
   align-self: flex-end;
   width: 100%;

}
.NewNavBar{
    position: sticky;
    top:0 ;
    left: 0;
    background-color: white;
 
}
.linksNav{
    height: 100%;
}


.link1{
    margin-right: 40px;

   height: 100%;

   
   
}
.link:hover{
    border-bottom: 4px solid yellow;
   color: red;
 
}

.navPages{
    width: 100%;
   
    background-color: #1A91CB;
}
.NavHeader{
    padding-top: 40px;
    padding-bottom: 50px;
    font-size: 3rem; 
font-weight: 100;
color: white;

}
.colorBlue{
      color: #3395ED; 
}
.headerPageBlue{
    margin-top: 100px;
    margin-bottom: 100px;

    font-size: 2.4rem ;
    font-weight: 400;
}
.imgDiv{
    margin-right: 59px;
}
.textP{
    font-size: 19px;
    line-height: 34px;
    color: #47545a;
}
.colorLighterBlue{
    color: #27b5fb;
}
.boxHeader{
    font-size: 21px;
    padding-bottom: 10px;
    font-weight: 600;
   
   
    line-height: 1.71;
    text-align: left;
}
.imageAbout{    
    background-image: linear-gradient(to right,#bd8f2c94,#bd8f2c6e),url('https://www.frontrangelocksmith.com/images/about-banner.png');
    background-size: cover;
    object-fit: cover;
}
.imageContact{
    background-image:linear-gradient(to right,#bd8f2c78,#bd8f2c73), url('https://www.frontrangelocksmith.com/images/contact-banner.png');
    background-size: cover;
    object-fit: cover;
}


.logoDiv{
    max-width:100px;
    max-height: 100px;
}
.imgLogo{
    height: 100%;
    width: 100%;
}


.openNavActive{
    height: 100vh;
    opacity: 1;
    display: block;
    visibility: visible;
    width: 88%;
    position: fixed;
    top:  0;
    right: 0;
color: white;
z-index: 9999999;
background-color:#3395ED;
transition: all .3s ease;
}
.liLinks{
    color: white;
    font-weight: 500;
}
.closeNavActive{
    width:  0%;
    opacity: 0;
    visibility: hidden;
    display: none;
    transition: all .3s ease;

}

.liLinks{
  
    margin-top: 12px;
    border-bottom: 1px solid black;
    width: 100%;
    text-align: center;
    padding-bottom: 12px;
    
}

.navSumble{
    padding: 20px;
    background-color: #afd4e6;
  border-radius: 3px;

}
.navSumblediv{
    height: 1px;
    width: 15px;
    background-color: #ffffff;
    margin-bottom: 5px;
   
}
.navSumblediv:last-child{

    margin-bottom: 0;
   
}
.exit{
    margin-top: 50px;
    margin-bottom: 20px;
    width: 10%;
  
} 
.phoneNav{
    position: relative;
    width: 100%;
}
.hoverLinks{
    position: relative;
}
.serviceLink:hover ~ .ListOfLinks{
height: auto;
display: flex;

}

.link12{
    margin-top: 20px;
   
}
.ListOfLinks{
    display: none;
    height: 0;
    background-color:#6ba3d3;
    width: 300px;

}
.ServiceLinks{
    width: 300px !important;

}


.hoverLinks{
    z-index: 999999;

}
.ListOfLinks:hover{
    height: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    }

    .link1{
width: 100%;
margin-bottom: 10px;
padding-bottom: 5px;
padding-left: 10px;

    }
    .link1:hover{
       
       color: red;
       background-color: #1A91CB;
     
    }

    .paadingHeaderService{
        padding-top: 30px;
        padding-bottom: 30px;
    }