*{
  margin: 0;
  padding: 0;

}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden !important;

}
.w50{
  width: 50%;
}
.imageMaxWith{
  max-width: 100%;
}
.paddingTop10{
  padding-top: 10px;
}
.displayPhone{
  display: none !important;
}
.rowRevers{
  flex-direction: row-reverse !important;
}
/* @media (min-width: 1280px){
  .containerL {
      max-width: 1280px;
  }}

  @media (min-width: 1280px){
    .containerL {
        max-width: 1280px;
    }}
    @media (min-width: 1024px){
    .containerL {
        max-width: 1024px;
    }}
    @media (min-width: 768px){
   
    .containerL {
        max-width: 768px;
   
    }}
    @media (min-width: 640px){
    .containerL {
        max-width: 640px;
    }
   

    } */


    @media (max-width: 1240px){
      .containerL{
        width: 96% !important;
        overflow-x: hidden;
      
      }
      html{
        font-size: 10px !important;
      }
    }

    @media (max-width: 640px){
     
      .displayPhone{
        display: block !important;
      }
  
      }

    

    @media (max-width: 860px){
      .containerL{
        width: 96% !important;
        overflow-x: hidden;
      
      }
      .marb{
        margin-bottom: 40px !important;
      }
      .containerService {
        width: 100% !important;
        margin: 0 auto;
    }
    .w50{
      width: 97% !important;
      
    }
      .paadingHeaderService {
        
        padding-bottom: 0 !important;
    }
      .content2{
        width: auto !important;
      }
      .paddphone{
        padding-top: 30px;
        padding-bottom: 30px;
      }
      .imageServiseDiv {
        width: auto !important;
        margin-top: 0 !important;
        font-size: 0;
    }
      .marginLeft {
        margin-left: 0 !important;
    }
      .phoneNav{
        width: 100% !important;

      }
      .end{
        justify-content: flex-end !important;
         align-items: flex-end !important;
      }
      .navSumble{

      }
      .oneSquare{
        text-align: center;
      }
      .marginRight{
        margin-right: 0 !important;
      }
      .NavBar{

        margin-top: 0 !important;
        padding-top: 0 !important;
      }
      .headerH1{
font-size: 30px !important;
      }
      .navIn{
    width: 98% !important;
      }
      .barNav{
  
      }
    
      .openImage{
        height: auto !important;
       }
       .FourSquaresGrid{
        grid-template-columns: 1fr !important;
        max-width: 100%;
        }
        .sideA {
          width: 100% !important;
        }
        .marginBottomPhone{
          margin-bottom: 20px !important;
          margin-top: 20px !important;

        }
        .buttonNumber{
          font-size: inherit !important;
        }
        .ButtonsCall{
          display: flex !important;
          flex-direction: row !important;
          justify-content: space-between !important;
        }
        .imgBanner{
          margin-bottom: 0 !important;
        }
        .blue-btn{
          padding: 15px 30px !important;
          width: auto !important;
        }
        .buttonPhone{
          width: 50% !important;
          font-size: inherit !important;
          min-height: auto !important;
          padding: 0 !important;
          
        }
        .w70{
          width: 90% !important;
        }
        .thumbnail img {
         margin-bottom: 30px !important;
      }
        .gridAbout{
          width: 99% !important;
        }
        .grey-btn{
          width: auto !important;
          padding: 0px 10px !important;
          
        }
        .buttonNumber{
          width: auto !important;
        }
      .socialBox {
        padding-left: 0 !important;
        justify-content: flex-start !important;
       width: 100% !important;
    }
    .socialButtons {
      width: 100%;
    }
      .displayPhone{
        display: block !important;
      }
      .flexRowToCol{
        flex-direction: column !important;
      }
    .marginTop10{
      margin-top: 10px !important;
    }
    .wordsSide {
   margin-left: 0 !important;
      padding: 0px 0px !important;
      width: auto !important;
  }
  .thumbnail{
    width: auto !important;
  }
  .description {
    margin-left: 0 !important;
    padding: 3px 8px !important;
    width: auto !important;
    margin-right: 0 !important;
}
.change-your-lock{
  margin-left: 0 !important;
}
.marginBottomPhone{
  margin-bottom: 50px !important;
}
.gridAbout{
 
  grid-template-columns: 1fr 1fr !important;
  gap: 0px !important;
}
.imageDiv{
  width: auto !important;
}
.oneDetaisBanner{
  width: auto !important;
 
  margin: 0 !important; 
  margin-bottom: 40px !important;
}
.marginNonePhone{
  margin-top: 10px !important;
}
      .reverse{
        flex-direction: column-reverse !important;
      }
      .paddingLeftRight{
        padding-left: 10px;
        padding-right: 10px;
      }
      .mapIframe {
        width: 100% !important;
        height: 100% !important;
        margin-top:  0 !important;
    }
    .inputText{ 
      padding: 0 !important;
      margin:  0 auto !important;
    
    }
      .map{
        width: 100% !important;
        max-width: 100% !important;
        margin-bottom: 20px !important;
      }
    
      .displayNone{
        display: none !important;
      }
      /* img{
        width: 100%;
      } */
      .imgDiv{
        margin: 0 !important;
      }
      .imageOpening{
    
        background-position: center;
       background-attachment:local !important;
       object-fit: cover !important;
       background-size: cover !important;
     
     
     }
     .imgService{
      max-width: 200px;
      max-height: 200px;
     }
     .phoneBTN{
    
     font-size: .8rem !important;
    
  
  }.revers{
    flex-direction: column-reverse !important;
  }
  
  .OneSquare {
    padding: 10px 20px 40px 20px !important;
  }
      }
  
    .containerL {
        max-width: 1530px;
        margin: 0 auto;
        
    }
    
    .containerL{
      width: 85% ;
      
    }



    .headerBlue{
      font-weight: 400;
      font-size: 18px;
      text-align: left;
      color: #8c999f;
      margin-top: 21px;
  }

  .displayTable  img{
    min-height: 200px;
    min-width: 300px;
  }

  
   .thumbnail  img{
    min-height: 200px;
    min-width: 300px;
  }